.introduce{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#641CE7,#B031F2) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduce-container{
    max-width: 700px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border:1px solid transparent;
    border-radius: 10px;
    
}
.introduce-container img{
    height: 200px;

}
.introduce-btn{
    width: 360px;
    height: 50px;
    font-size: 18px;
    background-color: #641CE7;
    color:#fff;
    border:1px solid transparent;
    border-radius: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;

}