.modal-btn{
    width: 360px;
        height: 50px;
        font-size: 18px;
        background-color: #641CE7;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        cursor: pointer;
}
.modal{
    text-align: center;
    color:#fff;
}
.modal-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 12px;
    color:#fff;
}