.question-card {
    max-width: 700px;
    width: 100%;

}

.questionCard {
    max-width: 700px;
    width: 100%;
}

.questionCard-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffF;
    margin-bottom: 12px;
}

.questionCard button {
    width: 48%;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    margin: .3rem;
    background-color: #fff;
    border: 1px solid lightgray;
    overflow: hidden;
    line-height: 40px;
    border-radius: 10px;
}

.questionCard button:hover {
    background-color: #b63a8b;
    color: #e3e3e3;
}
.questionCard-timer{
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    background-color: #b63a8b;
    color:#fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:1rem ;
}